<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



<main align="center" class="tontainer" >
    
<img class="img-logo"  src="Assets/images/sher.jpeg"  alt="..." style="width:200px; height:250px" >
<div style="background-color:gainsboro"  align="center" class="container">
  <h1>About, ME!</h1>
  <div  >
  <p>I am Sherniiaz Sovetbek Uulu. I am 19 years old. Was born in country called Kyrgyzstan, and I speak 4 languages:Russian,English,Turkish and Kyrgyz. </p>
  <p>I am enrolled in Software Engineering Technology(3 years program) at Centennial College. I love programming and believe in leading Innovation. </p> 
  <p>Apart from web designing and programming I like to sing and create my own music. </p>
</div>
</div>
<br>
<div class="mt-4 text-center">
                  <p class="h4 text-white"><i class="fas fa-file-download"></i> Here is my resume!</p>
                   <a href="/Files/Resume.pdf" download = "Resume" style="text-decoration: none">
                        <button type="button" class="btn text-dark btn-lg bg-white">Download PDF <i class="fa fa-download" download></i></button>
                   </a>
              </div>

</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>



  
  







