<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



<main>
        <div class="container margin-top">
            <div class="col-md-4">
                <img src="/Assets/images/vr.jpg" class="img-thumbnail" />
                <p class="text-primary font-size"> - VR Events App</p>
                <p class="text-primary font-medium">A website that broadcasts the big events live in 360 degree format.</p>
            </div>
            <div class="col-md-4">
                <img src="/Assets/images/mobile.jpg" class="img-thumbnail" />
                 <p class="text-primary font-size"> - Recipe App</p>
                 <p class="text-primary font-medium">Mobile Application that allows the users to enter all the products that they have, and provides available recipesю  </p>
            </div>
            <div class="col-md-4">
                <img src="/Assets/images/youtube.jpg" class="img-thumbnail" />
                 <p class="text-primary font-size"> - Music Channel</p>
                 <p class="text-primary font-medium">YouTube Channel where I will make my own music from zero.</p>
            </div>
        </div>
        <br><br><br>
    </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>



  
  







