<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main>
        <div class="container margin-top">
            <div class="col-md-4">
                <img src="/Assets/images/database.jpg" class="img-thumbnail" />
                <p class="text-primary font-size"> - DataBase Administrator</p>
                
            </div>
            <div class="col-md-4">
                <img src="/Assets/images/bakc.png" class="img-thumbnail" />
                 <p class="text-primary font-size"> - Backend Developer</p>
                 
            </div>
            <div class="col-md-4">
                <img src="/Assets/images/music.png" class="img-thumbnail" />
                 <p class="text-primary font-size"> - Bit maker</p>
                 
            </div>
        </div>
        <br><br><br>
    </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

